<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragment/general.html :: nav"></div>
	<div id="content">
		<img src="image/contact.jpg" class="img-fluid" alt="Responsive image">
		<h2>About Us</h2>
		<p>Kuruma was launched in July 2022 to be the most reliable and user-focused online car classifieds in Singapore. Our goal is to develop the most useful and helpful car classifieds platform in the country, focusing on helping you search your ideal car easier and faster.</p>
	</div>
	<div th:replace="fragment/footer.html :: footer"></div>
</body>
</html>