<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<table>

<h2 th:utext="BrandList" th:if="${not #lists.isEmpty(brandlist)}">Brand List</h2>
<table class="w3-container" th:if="${not #lists.isEmpty(brandlist)}">
	<tr th:each="car:${brandlist}">
	<td th:text=${car.brand}>Brand</td>
	<td><img th:src="@{${car.imgLink}}"/></td>
	<td th:text=${car.model}>Model</td>
	<td th:text=${car.price}>Price</td>
	<td><a th:href="@{${car.link}}"> Link to car listing </a></td>
	</tr>
</table>
<div th:if="${#lists.isEmpty(brandlist)}">>
	<h2>>No entry matched</h2>
</div >
</body>
</html>