<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Car Details</title>
</head>
<body>
<h2 th:text="${carD.model}"></h2>     
<table>
 	<tr>
 		<td></td>
 		<td> <img th:src="@{${carD.imgLink}}"/></td> 
 	</tr>
	<tr>
		<td>Brand</td>
		<td> <span th:text="${carD.brand}"></td> 
	</tr>
	<tr>
		<td>Model</td>
		<td> <span th:text="${carD.model}"></td>
	</tr>
	<tr>
		<td>Price</td>
		<td> <span th:text="${carD.price}"></td> 
	</tr>
	<tr>
		<td>Link</td>
		<td><a th:href="@{${carD.link}}" > Link to car listing </a></td>
	</tr>
</table>
</body>
</html>>
</body>

