<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
<title>Car Details</title>
</head>
<body>
<div th:replace="fragment/general.html :: nav"></div>
<main>
<section class="py-5 text-center container">
<div class="row py-lg-5">
	<div class="col-lg-6 col-md-8 mx-auto">
		<h3 th:text="${carD.model}"></h3>     
		<div><table class="table">
		 	<tr>
		 		<td></td>
		 		<td> <img class="img-fluid" th:src="@{${carD.imgLink}}"/></td> 
		 	</tr>
			<tr>
				<th>Brand</th>
				<td> <span th:text="${carD.brand}"></td> 
			</tr>
			<tr>
				<th>Model</th>
				<td> <span th:text="${carD.model}"></td>
			</tr>
			<tr>
				<th>Price</th>
				<td> <span th:text="${carD.price}"></td> 
			</tr>
			<tr>
				<th></th>
				<td><a th:href="@{${carD.link}}" target="_blank" rel="noopener noreferrer"> Link to car listing </a></td>
			</tr>
		</table></div>
	</div>
	<div class="col-lg-6 col-md-8 mx-auto">
		<h3>Price Analysis</h3>
	</div>
	</div>
</section>

<div class="row py-lg-5">
	<div class="col-lg-6 col-md-8 mx-auto">
		<h3>Basic Analysis</h3>
	</div></div>
		
<div class="row py-lg-5">
	<div class="col-lg-6 col-md-8 mx-auto">
		<h3>Expert Analysis</h3>
	</div></div>

</main>
<div th:replace="fragment/footer.html :: footer"></div>
</body>
</html>>
</body>

