<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
<title>Car Details</title>
</head>
<body>
<div th:replace="fragment/general.html :: nav"></div>
<main>
<section class="py-5 text-center container">
<div class="row py-lg-5">
	<div class="col-lg-6 col-md-8 mx-auto">
		<h3 th:text="${carD.model}"></h3>     
		<div><table class="table table-hover">
		 	<tr>
		 		<td></td>
		 		<td> <img class="img-fluid" th:src="@{${carD.imgLink}}"/></td> 
		 	</tr>
			<tr>
				<th>Brand</th>
				<td> <span th:text="${carD.brand}"></td> 
			</tr>
			<tr>
				<th>Price</th>
				<td th:with="num=${carD.price}"><span th:text="'$'+${#numbers.formatDecimal(num,3,'COMMA',0,'POINT')}">Price</span></td>
			</tr>
			<tr>
				<th>COE</th>
				<td th:with="num=${carD.coe}"><span th:text="'$'+${#numbers.formatDecimal(num,3,'COMMA',0,'POINT')}">COE</span></td>
			</tr>
			<tr>
				<th>Mileage</th>
				<td th:with="num=${carD.mileageKm}"><span th:text="${#numbers.formatDecimal(num,3,'COMMA',0,'POINT')}+' km'">Mileage</span></td> 
			</tr>
			<tr>
				<th>Engine Capacity</th>
				<td> <span th:text="${carD.engineCapacity}+' cc'"></td> 
			</tr>
			<tr>
				<th>Manufactured Year</th>
				<td> <span th:text="${carD.manufacturedYear}"></td> 
			</tr>
			<tr>
				<th>Number of Owner(s)</th>
				<td> <span th:text="${carD.numOfOwner}"></td> 
			</tr>
			
		</table></div>
	</div>
	<div class="col-lg-6 col-md-8 mx-auto">
		<h3>Price Analysis</h3>
		<div><table class="table">
			<tr>
				<td colspan="2">Our price analysis makes use of the lastest Machine Learning model to give you the most accurate car prediction prices. We compare various car features (e.g. num of previous owners, COE, car model and mileage) using data from over 10,000 sg cars. Maximise the value you get from your next dream car with Kuruma!</td>
			</tr>
			<tr>
				<th>Predicted Price</th>
				<td th:with="num=${carD.predictedPrice}"><span th:text="'$'+${#numbers.formatDecimal(num,3,'COMMA',0,'POINT')}"></span></td>
			</tr>
			<tr>
				<th>Value</th>
				<td th:with="result=${(carD.price-carD.predictedPrice)/carD.predictedPrice * 100}"><span th:style="|${result > 0 ? 'color: red;' : 'color: green;'}|" th:text="${#numbers.formatDecimal(result,0,1)} +'%'"></span></td>
			</tr>
			<tr>
				<th>Our Recommendation</th>
				<td th:with="result=${(carD.price-carD.predictedPrice)/carD.predictedPrice * 100}">
					<span th:style="|${result > 0 ? 'color: red;' : 'color: green;'}|" th:text="${#numbers.formatDecimal(result,0,1)} +'% '"></span>
					<span th:text="|${result > 10 ? 'ABOVE the predicted price. Wait and observe any price changes.' : 'BELOW the predicted price. Good time to consider purchase.'}|"/>
					</td>
			</tr>
			<tr>
				<td></td>
				<td><a th:href="@{${carD.link}}" target="_blank" rel="noopener noreferrer"> Link to car listing </a></td>
			</tr>
		</table></div>
	</div>
	</div>
</section>

<div class="row py-lg-5">
	<div class="col-lg-6 col-md-8 mx-auto">
		<h3>Basic Analysis</h3>
	</div></div>
		
<div class="row py-lg-5">
	<div class="col-lg-6 col-md-8 mx-auto">
		<h3>Expert Analysis</h3>
	</div></div>

</main>
<div th:replace="fragment/footer.html :: footer"></div>
</body>
</html>>
</body>

