<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Kuruma Cars</title>
</head>
<body>
<div th:replace="fragment/general.html :: nav"></div>

<div class="container text-center">
<div class-"row">
<div class="container-fluid"><form th:action="@{/search}" method="POST">
		 <table>
	       		<tr style = "padding: 20px">
	                <td>Search Kuruma:</td>
	                <td><input type="text" class="form-control" placeholder="Filter by entry...." th:name="entry" th:value="${entry}"/></td>
	                <td ><button class="btn btn-primary">Search</button></td>
	    </table>
 </form></divclass="container-fluid"></div></div>
 
 <div class="row">
<div class="container-fluid"><h4>Search results ...</h4>
<table class="w3-container" >
	<tr th:each="car:${searchlist}">
	<td th:text=${car.brand}>Brand</td>
	<td><img th:src="@{${car.imgLink}}"/></td>
	<td><a href="cardetail.html" th:href="@{/cardetail/}+${car.Id}" th:text=${car.model}/></td>
	<td th:text=${car.price}>Price</td>
	<td><a href="cardetail.html" th:href="@{/cardetail/}+${car.Id}">Details</a></td>
	</tr>
	<tr>
	<td>
 		<a th:href="@{/search/backward/}+${currentPage}">&laquo;</a>
 		<span style="margin: 0 6px;" th:text="${currentPage}"></span>
  		<a th:href="@{/search/forward/}+${currentPage}">&raquo;</a>
 	</td>
 	</tr>
</table></div></div></div>


<!-- Optional JavaScript for Bootscrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	
</body>
</html>